* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.header {
  max-width: 50rem;
  text-align: center;
}

.slim-headline {
  font-size: 3.6rem;
  font-weight: 200;
}

.fat-headline {
  font-size: 3.6rem;
  font-weight: 600;
}

.sub-headline {
  padding: 2rem 0;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
}

.cards-container {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 4px;
  box-shadow: 0 10px 10px hsla(229, 6%, 66%, 0.5);
  background-color: white;
  padding: 2.4rem;
}

.twin-cards {
  display: flex;
  flex-direction: column;
}

.card-headline {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.card-text {
  margin-bottom: 3.4rem;
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  font-weight: 400;
}

.card-icon {
  align-self: flex-end;
}

.supervisor {
  border-top: 0.3rem solid hsl(180, 62%, 55%);
}
.team-builder {
  border-top: 0.3rem solid hsl(0, 78%, 62%);
}
.karma {
  border-top: 0.3rem solid hsl(34, 97%, 64%);
}
.calculator {
  border-top: 0.3rem solid hsl(212, 86%, 64%);
}

.attribution {
  margin-top: auto;
  padding-bottom: 1.1rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1021px) {
  .slim-headline,
  .fat-headline {
    font-size: 2.4rem;
  }

  .sub-headline {
    padding: 2rem 4rem;
  }

  .cards-container {
    flex-direction: column;
  }
}
